*
{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    /* text-decoration: none; */
}
@media screen and (max-width:800px)
{
    .head
    {
        height: 30vh;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        margin-top: -5%;
    }
    
}

.collapse>ul>li:hover
{
    background-color: green;
    border-radius:20px ;
    color: white ;
}
.nav3>ul>li
{
    margin-left: 10px;     
}
.fas
{
    margin-left: 10px;
}
.sol1>ul>li
{
    margin-top: 20px;
}



.sead2>img
{
    height: 20%;
    width: 80%;
    border: 4px double gray;
}
.footer
{
    height: 30vh;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
}
.footer1
{
    height: 100%;
    width: 18%;
    /* border: 1px solid black; */ 
    color: gray;
}
.footer1>ul
{
    list-style: none;
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.footer1>ul>img
{
    height: 25%;
    width: 80%;
}
.last
{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:800px)
{
.footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
    width: 100%;
}
.footer1
{
    display: flex;
justify-content: center;
flex-direction: column;
align-content: center;
    
    width: 80%;
    border: 1px solid;
}
.footer1>ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
}